@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Itim;
}

 .container {   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50rem;
    background-color: #BEE0EF;
 }

.container h1 {
    margin: 1rem;
}

.container h2 {
    margin: 1rem;
}

.user-input {
    margin: 1rem;
    font-size: 1.25rem;
    text-align: center;
}

.user-input input {
    width: 20rem;
    height: 2rem;
}
 
.button {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
    font-size: 1rem;
    width: 10rem;
    text-align: center;
    border: 0.1rem solid black;
    text-decoration: none;
}

/* game page styling */

#question {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}
/* map */

svg path {
    fill: #BEE0EF;
    stroke: black;
    stroke-width: .25;
}

svg path:hover {
    fill: #B0BD46;
    transition: 0.6s;
    cursor: pointer;
}

#mapdiv {
    width: 100%;
    margin: auto;
    padding-right: 5%;
}


